<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Prism.CommonDialogPack.Resources.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Prism.CommonDialogPack.Resources.Settings>
            <setting name="CurrentDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDirectoryMemoization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomColor01" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor02" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor03" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor04" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor05" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor06" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor07" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor08" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor09" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor10" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor11" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor12" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor13" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor14" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor15" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomColor16" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="EnableCustomColorsStorage" serializeAs="String">
                <value>True</value>
            </setting>
        </Prism.CommonDialogPack.Resources.Settings>
    </userSettings>
</configuration>